* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(80, 77, 77);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  border-radius: 30px;
  background-color: rgba(12, 12, 12, 0.527);
}

input {
  grid-column: span 4;
  border-radius: 10px;
  border: none;
  margin: 20px 10px 5px 10px;
  height: 100px;
  font-size: 20px;
  padding: 10px 20px;
}

button {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  font-size: 18px;
  box-shadow: inset -6px -6px 10px rgb(238, 238, 238),
    inset 6px 6px 10px rgba(129, 129, 129, 0.822);
}

button:hover {
  border: 1px solid rgb(95, 95, 95);
}

.equal {
  width: 110px;
}
